<h1>Edit Article</h1>
<%@article.errors.any?%>
<%if @article.errors.full_messages.each do |msg| %>
<li><ol><%= msg %></ol></li>
<% end %>
<% end %>
<%= form_with(model: @article, local: true) do |f| %>

<%= f.label :Name %>
<%= f.text_field :name%><br>

<%= f.label :Description %>
<%= f.text_field :description%><br>

<%= f.submit %>

<% end %>