<%= form_with scope: :user, url: users_path, local: true do |u| %>
<% if @users.errors.any?%>
<%@users.errors.full_messages.each do |msg|%>
  <li><ol><%= msg %></ol></li> 
  <% end %>
  <% end %>
   <%= u.label :UserName%><br>
   <%= u.text_field :username%><br>

   <%= u.label :EMail%><br>
   <%= u.text_area :email%><br>

   <%= u.submit :submit%>

<% end %>