
<%@teachers.errors.any?%>
<%if @teachers.errors.full_messages.each do |msg| %>
<li><ol><%= msg %></ol></li>
<% end %>
<% end %>
<%= form_with scope: :teacher, url:teachers_path, local: true do |f| %>

<%= f.label :Name %>
<%= f.text_field :name%><br>

<%= f.label :Subject %>
<%= f.text_field :subject%><br>

<%= f.submit %>

<% end %>